<footer class="footer">
  <div class="container footer__container--flex">
    <div class="footer__main-wrapper">
      <div>
        <img src="./img/footer-image.png" alt="" class="footer__image" />
        <a href="./" class="footer__logo-link">
          <svg class="footer__logo-icon">
            <use href="./icons/sprite.svg#icon-fruits-logo"></use>
          </svg>
          <span class="footer__logo-text">fresh harvest box</span>
        </a>
      </div>
      <nav class="footer__nav">
        <ul class="footer__nav-list">
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">How It Works</a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">Fruits</a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__secondary-wrapper">
      <ul class="footer__social-list">
        <li class="footer__social-item">
          <a
            href="http://"
            target="_blank"
            rel="noopener noreferrer"
            class="footer__social-link"
          >
            <svg class="footer__social-icon">
              <use href="./icons/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a
            href="http://"
            target="_blank"
            rel="noopener noreferrer"
            class="footer__social-link"
          >
            <svg class="footer__social-icon">
              <use href="./icons/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a
            href="http://"
            target="_blank"
            rel="noopener noreferrer"
            class="footer__social-link"
          >
            <svg class="footer__social-icon">
              <use href="./icons/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <ul class="footer__contacts-list">
        <li class="footer__contacts-item">
          <a href="" class="footer__contacts-link">+380 (68) 443-94-26</a>
        </li>
        <li class="footer__contacts-item">
          <a
            href=""
            class="footer__contacts-link footer__contacts-link--address"
            >1678 S. Pioneer Road Salt Lake City UT 84104</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
