<section class="fruits">
  <div class="container">
    <h2 class="fruits__main-title">ORGANIC fRUITS</h2>
    <p class="fruits__main-descr">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="fruits__cards-list">
      <li class="fruits__cards-item fruits__cards-item--strawberry">
        <h3 class="fruits__item-title">Strawberry</h3>
        <p class="fruits__item-descr">Plant</p>
        <img
          src="../img/strawberry.png"
          alt="Strawberry"
          class="fruits__item-image"
        />
        <div class="fruits__image-shadow"></div>
        <p class="fruits__item-price">100 UAH/kg</p>
      </li>
      <li class="fruits__cards-item fruits__cards-item--banana">
        <h3 class="fruits__item-title">Banana</h3>
        <p class="fruits__item-descr">Plant</p>
        <img src="../img/banana.png" alt="Banana" class="fruits__item-image" />
        <div class="fruits__image-shadow"></div>
        <p class="fruits__item-price">80 UAH/kg</p>
      </li>
      <li class="fruits__cards-item fruits__cards-item--watermelon">
        <h3 class="fruits__item-title">Watermelon</h3>
        <p class="fruits__item-descr">Plant</p>
        <img
          src="../img/watermelon.png"
          alt="Watermelon"
          class="fruits__item-image"
        />
        <div class="fruits__image-shadow"></div>
        <p class="fruits__item-price">40 UAH/kg</p>
      </li>
      <li class="fruits__cards-item fruits__cards-item--lime">
        <h3 class="fruits__item-title">Lime</h3>
        <p class="fruits__item-descr">Plant</p>
        <img src="../img/lime.png" alt="Lime" class="fruits__item-image" />
        <div class="fruits__image-shadow"></div>
        <p class="fruits__item-price">100 UAH/kg</p>
      </li>
      <li class="fruits__cards-item fruits__cards-item--apple">
        <h3 class="fruits__item-title">Apple</h3>
        <p class="fruits__item-descr">Plant</p>
        <img src="../img/apple.png" alt="Apple" class="fruits__item-image" />
        <div class="fruits__image-shadow"></div>
        <p class="fruits__item-price">50 UAH/kg</p>
      </li>
      <li class="fruits__cards-item fruits__cards-item--peach">
        <h3 class="fruits__item-title">Peach</h3>
        <p class="fruits__item-descr">Plant</p>
        <img src="../img/peach.png" alt="Peach" class="fruits__item-image" />
        <div class="fruits__image-shadow"></div>
        <p class="fruits__item-price">80 UAH/kg</p>
      </li>
      <li class="fruits__cards-item fruits__cards-item--plums">
        <h3 class="fruits__item-title">Plums</h3>
        <p class="fruits__item-descr">Plant</p>
        <img src="../img/plums.png" alt="Plums" class="fruits__item-image" />
        <div class="fruits__image-shadow"></div>
        <p class="fruits__item-price">40 UAH/kg</p>
      </li>
      <li class="fruits__cards-item fruits__cards-item--orange">
        <h3 class="fruits__item-title">Orange</h3>
        <p class="fruits__item-descr">Plant</p>
        <img src="../img/orange.png" alt="Orange" class="fruits__item-image" />
        <div class="fruits__image-shadow"></div>
        <p class="fruits__item-price">60 UAH/kg</p>
      </li>
      <li class="fruits__cards-item fruits__cards-item--kiwi">
        <h3 class="fruits__item-title">Kiwi</h3>
        <p class="fruits__item-descr">Plant</p>
        <img src="../img/kiwi.png" alt="Kiwi" class="fruits__item-image" />
        <div class="fruits__image-shadow"></div>
        <p class="fruits__item-price">90 UAH/kg</p>
      </li>
    </ul>
    <button class="fruits__order-button">
      <svg class="fruits__order-icon">
        <use href="./icons/sprite.svg#icon-arrow-bottom-right"></use>
      </svg>
      <span class="fruits__order-text">ORDER</span>
    </button>
  </div>
</section>
