<section class="hero">
  <div class="container hero__container hero__container--flex">
    <h1 class="hero__title">
      <span>fresh harvest box</span>
      <div>
        <span>is your 0ne-stop place</span>
        <span>for</span>
        <span>a delicious fruit</span>
        <span>basket</span>
      </div>
    </h1>
    <div class="hero__main-item">
      <div class="hero__image-wrapper">
        <img src="./img/woman-vs-oranges-bg.png" alt="" class="hero__image" />
      </div>
      <button class="hero__button-shop">
        <span class="hero__button-text">shop now</span>
      </button>
    </div>
    <div class="hero__fruit-item hero__fruit-item--watermelon">
      <p class="hero__item-text">
        Our expertly curated fruit baskets are made with the freshest, highest
        quality fruits available. Whether you are looking for a healthy snack or
        a gift for a loved one, Fresh Harvest Box has got you covered.
      </p>
      <div class="hero__fruit-wrapper hero__fruit-wrapper--watermelon">
        <h3 class="hero__fruit-title">Fruit</h3>
        <div class="hero__fruit-img-wrapper">
          <img src="./img/hero-watermelon.png" alt="" class="hero__fruit-img" />
          <div></div>
        </div>
        <p class="hero__fruit-descr">
          Refreshing and juicy, watermelon is the perfect summer treat and a
          great source of hydration
        </p>
      </div>
    </div>
    <div class="hero__fruit-item hero__fruit-item--strawberry-basket">
      <ul class="hero__item-list">
        <li class="hero__list-item">#organic</li>
        <li class="hero__list-item">#products</li>
        <li class="hero__list-item">#basket</li>
        <li class="hero__list-item">#fruits</li>
      </ul>
      <div class="hero__fruit-wrapper hero__fruit-wrapper--strawberry-basket">
        <h3 class="hero__fruit-title hero__fruit-title--strawberry-basket">
          Fruit
        </h3>
        <div class="hero__fruit-img-wrapper">
          <img
            src="./img/hero-strawberry-basket.png"
            alt=""
            class="hero__fruit-img hero__fruit-img--strawberry-basket"
          />
          <div></div>
        </div>
        <p class="hero__fruit-descr">
          Sweet and juicy, strawberries are packed with vitamin C and
          antioxidants, making them a delicious and healthy snack
        </p>
      </div>
    </div>
  </div>
</section>
