<div class="backdrop modal-contacts js-modal modal-close">
  <div class="modal-thankyou">
    <button class="modal-thankyou__button-close js-close-modal">
      <svg class="modal-thankyou__icon-close">
        <use href="./icons/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <img src="./img/modal-thankyou.png" alt="" class="modal-thankyou__image" />
    <h2 class="modal-thankyou-title">THANK YOU</h2>
    <p class="modal-thankyou__descr">
      Thank you for your order! Our team is preparing your box with fresh,
      delicious fruits and vegetables, and we'll deliver it straight to your
      doorstep. We appreciate your business and look forward to providing you
      with the best possible experience!
    </p>
  </div>
</div>
